{
   "validation"       :
   {
      "1"             :
      {
         "index"      : "1",
         "validation" :
         {
            "active"  : "1",
            "rule"    : "\\d*",
            "error"   : "INVALID_BUSINESS_MILEAGE"
         }
      }
   },
   "extra_validation" :
   {
      "active"  			     : "1",
      "rule"    			     : "_default_extra_validation_business_mileage($prepArray);",
      "function_description" : "validate business mileage",
      "function"			     : "$haveError = false;
                                $annualMileage   = $prepArray['annual_mileage'];
                                $bussinesMileage = $prepArray['business_mileage'];
                                $typeOfUse       = $prepArray['type_of_use'];
                                $checkBusinessTypeOfUseArr = array(1,6,7,8,9);
                                if(in_array($typeOfUse, $checkBusinessTypeOfUseArr))
                                {
                                   if(empty($bussinesMileage))
                                   {
                                      if(empty($prepArray['business_mileage.error']))
                                      {
                                         $tmpPrepArray['business_mileage.extraError'] = 'INVALID_BUSINESS_MILEAGE';
                                         $tmpPrepArray['business_mileage.error_b']    = HTML_BORDER_ERROR;
                                         $tmpPrepArray['business_mileage.error_bg']   = HTML_BACKGROUND_ERROR;
                                         $haveError = true;
                                      }
                                   }
                           
                                   if($annualMileage < $bussinesMileage)
                                   {
                                      if(empty($prepArray['business_mileage.error']))
                                      {
                                         $tmpPrepArray['business_mileage.extraError'] = 'INVALID_BUSINESS_MILEAGE_OF_VEHICLE';
                                         $tmpPrepArray['business_mileage.error_b']    = HTML_BORDER_ERROR;
                                         $tmpPrepArray['business_mileage.error_bg']   = HTML_BACKGROUND_ERROR;
                                         $haveError = true;
                                      }
                                   }
                                }
                                $tmpPrepArray['have_error'] = $haveError;
   								     return $tmpPrepArray;"
   }
}
