{
   "class"          : "displayNone tblCntBottomBrd",
   "extra_class"    : "",
   "children"       :
   {
      "index"       :
      {
         "class"    : "qstIndex",
         "width"    : "20"
      },
      "text"        :
      {
         "class"    : "qstTitle",
         "width"    : "480"
      },
      "input"       :
      {
         "class"    : "qstVls",
         "width"    : "150",
         "input"    :
         {
            "1"     :
            {
               "index"               : "1",
               "container_div_class" : "",
               "class"               : "txtBox",
               "width"               : "100"
            }
         }
      },
      "help"        :
      {
         "class"    : "qstHlp",
         "width"    : "20"
      }
   }
}
