{
   "show"                        : "Y",
   "skip"                        : "N",
   "dependencies"                :
   {
      "question_group"           : "usage",
      "precedent_question"       : "",
      "after_question" 	         : ""
   },
   "session_entry"               : "[% SESSION_ENTRY %]",
   "post_elements"               : "business_mileage",
   "id"                          : "[% id %]",
   "orderInputs"                 : "1",
   "text"                        : "[% TITLE %]",
   "template"                    : "question.tmpl",
   "input"                       :
   {
      "1"                        :
      {
         "index"                 : "1",
         "template"              : "text.input.tmpl",
         "show"                  : "Y",
         "id"                    : "",
         "name"                  : "business_mileage",
         "type"                  : "text",
         "default"               : "0",
         "maxlength"             : "6",
         "size"  	               : "7",
         "value"                 : ""
      }
   },
   "validation_errors"           : "[% business_mileage.error %][% business_mileage.extraError %]",
   "help_icon_template"          : "help.anchor.tmpl",
   "help_value"                  : "QUESTION_MARK",
   "help_title"                  : "BUSINESS_MILEAGE_TITLE",
   "help_description"            : "BUSINESS_MILEAGE_DESCRIPTION",
   "help_example"                : "",
   "help_box_position"           : "blcl"
}
