{
   "1"                 :
   {
      "index"          : "1",
      "events"         :
      {
         "onblur"      : "",
         "onchange"    : "",
         "onclick"     : "",
         "onfocus"     : "",
         "onmouseout"  : "",
         "onmouseover" : "",
         "onkeydown"   : "",
         "onkeypress"  : "PermitOnlyNumbers(event);",
         "onkeyup"     : ""
      }
   }
}
