/*##############################################
#
#  Question Generator css
#
#  Copyright QuoteZone
#
##############################################*/
body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
}

.siteContent {
    width: 1000px;
    margin: 0 auto;
}

.sectionHeader {
    margin: 20px 0px;
}

.leftSection {
    float: left;
    width: 170px;
    height: 555px;
    margin-right: 10px;
    display: block;
    border: 1px solid #DDDDDD;
}

.leftSectionNoBorder {
    float: left;
    width: 170px;
    height: 500px;
    margin-right: 10px;
    display: block;
}

.rightSection {
    float: left;
    width: 800px;
}

.rowClass {
    height: 1%;
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
}

.rowClassNoBorder {
    height: 1%;
}

.rowClassBorder {
    height: 1%;
    margin-bottom: 10px;
	border: 1px solid #DDDDDD;
}

.rowTitle {
    color: #333333;
    margin: 0px;
    padding: 10px;
}

.rowContent {
}

.labelText {
    float: left;
    margin: 0px;
	width: 140px;
}

.rowQuestion {
    margin: 5px 0 5px 20px;

}

.labelOption {
    margin: 0px;
	width: 100px;
}

.optionPanel {
    padding: 10px;
    border-top: 1px solid #DDDDDD;
	text-align: right;
}

.optionInputPanel {
    padding: 10px;
    border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	text-align: left;
	font-weight: bold;
    color: #333;
}

.optionPanelNoBorder {
    padding: 10px;
    text-align: right;
}

.generatedQuestionContent {
    padding: 10px;
}

.rowContent input[name='temporaryTitle'], .rowContent input[name='temporaryHelpText'] {
    width: 93%;
    margin: 10px 10px 0px 10px;
}

.rowContent input[name='temporaryTitle'], .rowContent input[name='temporaryHelpText'] {
    text-align: left;
}

.titleInputRow .rowContent {
    text-align: right;
}

.margin10 {
    margin: 10px;
}

.marginRight5 {
    margin-right: 5px;
}

.notAllowedinputClass {
    font-style: italic;
    cursor: not-allowed;
}

.textAlignRight{
    text-align: right;
}

.textAlignLeft{
    text-align: left;
}

.textAlignCenter{
    text-align: center;
}

.pointerClass {
    cursor: pointer;
	float: right; 
}

.feedback {
    padding: 10px;
	display: block;
}

.divClass {
    border: 1px solid #DDDDDD;
	padding: 5px;
	font-style:italic;
	height: 16px;
	margin: 5px;
}

/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
.optionInputPanel input[type=radio] {
    display:none; 
    margin:10px;
}
 
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
.optionInputPanel input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    background-color: #e7e7e7;
    border-color: #ddd;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
.optionInputPanel input[type=radio]:checked + label { 
   background-image: none;
   background-color:#BCE954;
}

button span{
   font-weight: bold;
}