/*##############################################
#
#  Question Generator css
#
#  Copyright QuoteZone
#
##############################################*/
body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
}

.siteContent {
    width: 1000px;
    margin: 0 auto;
}

.sectionHeader {
    margin: 20px 0px;
}

.leftSection {
    float: left;
    width: 170px;
    height: 555px;
    margin-right: 10px;
    display: block;
    border: 1px solid #DDDDDD;
}

.leftSectionNoBorder {
    float: left;
    width: 170px;
    height: 500px;
    margin-right: 10px;
    display: block;
}

.rightSection {
    float: left;
    width: 800px;
}

.rowClass {
    height: 1%;
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
}

.rowClassNoBorder {
    height: 1%;
}

.rowClassBorder {
    height: 1%;
    margin-bottom: 10px;
	border: 1px solid #DDDDDD;
}

.rowTitle {
    color: #333333;
    margin: 0px;
    padding: 10px;
}

.rowContent {
}

.labelText {
    float: left;
    margin: 0px;
}

.rowQuestion {
    margin: 5px 0 5px 20px;

}

.labelText {
    width: 140px;
}

.optionPanel {
    padding: 10px;
    border-top: 1px solid #DDDDDD;
    text-align: right;
}

.optionPanelNoBorder {
    padding: 10px;
    text-align: right;
}

.generatedQuestionContent {
    padding: 10px;
}

.rowContent input[name='temporaryTitle'], .rowContent input[name='temporaryHelpText'] {
    width: 93%;
    margin: 10px 10px 0px 10px;
}

.rowContent input[name='temporaryTitle'], .rowContent input[name='temporaryHelpText'] {
    text-align: left;
}

.titleInputRow .rowContent {
    text-align: right;
}

.margin10 {
    margin: 10px;
}

.notAllowedinputClass {
    font-style: italic;
    cursor: not-allowed;
}

.textAlignRight{
    text-align: right;
}

.pointerClass {
    cursor: pointer;
}