{
   "class"          : "tblCntNoBrd",
   "extra_class"    : "",
   "children"       :
   {
      "index"       :
      {
         "class"    : "qstIndex",
         "width"    : "20"
      },
      "text"        :
      {
         "class"    : "qstTitle",
         "width"    : "300"
      },
      "input"       :
      {
         "class"    : "qstVls",
         "width"    : "330",
         "input"    :
         {
            "1"     :
            {
               "index"               : "1",
               "container_div_class" : "floatRight",
               "class"               : "slct slctIE7",
               "width"               : "330"
            },
            "2"     :
            {
               "index"               : "2",
               "container_div_class" : "floatRight",
               "class"               : "lbl alignCenter",
               "width"               : "330"
            },
            "3"     :
            {
               "index"               : "3",
               "container_div_class" : "slctFke",
               "class"               : "slct",
               "width"               : "330"
            }
         }
      },
      "help"        :
      {
         "class"    : "displayNone",
         "width"    : "20"
      }
   }
}
