{
   "show"                        : "Y",
   "skip"                        : "N",
   "js_file"                     : "Tariffs.js",
   "dependencies"                :
   {
      "question_group"           : "",
      "precedent_question"       : "",
      "after_question" 	         : ""
   },
   "session_entry"               : "YourDetails",
   "post_elements"               : "current_gas_tariff",
   "id"                          : "div_current_gas_tariff",
   "index"                       : "prime",
   "orderInputs"                 : "1,2,3",
   "text"                        : "ENERGY_ELECTRIC_TARIFF_TEXT",
   "template"                    : "question.tmpl",
   "input"                       : 
   {
      "1"                        :
      {
         "index"                 : "1",
         "template"              : "select.input.tmpl",
         "add_to_step_elements"  : "Y",
         "step_elements"         : "",
         "show"                  : "Y",
         "id"                    : "",
         "name"                  : "current_gas_tariff",
         "type"                  : "select",
         "default"               : "",
         "maxlength"             : "",
         "clear_all"             : "Y",
         "size"  	               : "1",
         "value"                 : "setGasTariffListValue();",
         "function_description"  : "",
         "function"				   : "
                                    $valuesObj = new stdClass;
                                    $index = 0;
                                    $valuesObj->$index->value = '';
                                    $valuesObj->$index->dispalyed_value = '&nbsp;&nbsp;&nbsp;--&nbsp;Please select your tariff&nbsp;--';

                                    $supplier = '';
                                    if(!empty($_SESSION['_TMP_']['current_gas_supplier']))
                                    {
                                       $supplier = $_SESSION['_TMP_']['current_gas_supplier'];
                                    }
                                    elseif(!empty($_SESSION['_YourDetails_']['current_gas_supplier']))
                                    {
                                       $supplier = $_SESSION['_YourDetails_']['current_gas_supplier'];
                                    }

                                    if(!empty($supplier))
                                    {
                                       include_once 'Prices.php';
                                       $priceObj = new CPrices();
                                       $dual = 'f';
                                       $tariffs = $priceObj->GetAllGasSupplierTariffs($supplier,$dual);
                                       $field = 'product_name';

                                       foreach($tariffs as $id => $value)
                                       {
                                          $index++;
                                          $valuesObj->$index->value = $value[$field];
                                          $valuesObj->$index->dispalyed_value = $value[$field];
                                       }
                                    }
         							      $tmpPrepArray['select_options'] = $valuesObj;
         							      return $tmpPrepArray;"
      },
      "2"                        :
      {
         "index"                 : "2",
         "template"              : "label.input.tmpl",
         "show"                  : "Y",
         "id"                    : "",
         "name"                  : "",
         "type"                  : "label",
         "default"               : "",
         "maxlength"             : "",
         "clear_all"             : "Y",
         "size"  	               : "",
         "value"                 : ""
      },
      "3"                        :
      {
         "index"                 : "3",
         "template"              : "fakeselect.input.tmpl",
         "show"                  : "Y",
         "container_div_id"      : "el_tariff_id",
         "id"                    : "",
         "name"                  : "fake_current_gas_tariff",
         "type"                  : "fakeselect",
         "default"               : "",
         "maxlength"             : "",
         "size"                  : "9",
         "value"                 : ""
      }
   },
   "validation_errors"           : "[% current_gas_tariff.error %][% current_gas_tariff.extraError %]",
   "help_icon_template"          : "help.anchor.tmpl",
   "help_value"                  : "QUESTION_MARK",
   "help_title"                  : "BUSINESS_LIST_TITLE",
   "help_description"            : "BUSINESS_LIST_DESCRIPTION",
   "help_example"                : "BUSINESS_LIST_EXAMPLE",
   "help_box_position"           : "blcl"
}
