{
   "validation"       :
   {
      "1"             :
      {
         "index"      : "1",
         "validation" :
         {
            "active"  : "1",
            "rule"    : ".*",
            "error"   : "INVALID_GAS_TARIFF"
         }
      }
   },
   "extra_validation" :
   {
      "active"  			     : "1",
      "rule"    			     : "_default_extra_validation_current_gas_tariff($prepArray,$session);",
      "function_description" : "validate current_gas_tariff",
      "function"              : "$haveError = false;
                                
                                $energy = $prepArray['type_of_energy'];
                                $tariffs = $prepArray['one_energy_supplier'];
                                $gasTariff = $prepArray['current_gas_tariff'];
                                
										  if($tariffs == 'N')
											  if($energy == 'EG' || $energy == 'GO')
				                          if($gasTariff == '')
				                          {
				                             $tmpPrepArray['current_gas_tariff.extraError'] = 'INVALID_GAS_TARIFF';
				                             $tmpPrepArray['current_gas_tariff.error_b']    = HTML_BORDER_ERROR;
				                             $tmpPrepArray['current_gas_tariff.error_bg']   = HTML_BACKGROUND_ERROR;
				                             $haveError = true;
				                          }
									     $_SESSION['_TMP_']['current_gas_tariff'] = $prepArray['current_gas_tariff'];
                                $tmpPrepArray['have_error'] = $haveError;
   								     return $tmpPrepArray;"
   }
}
