{
   "show"                        : "Y",
   "skip"                        : "N",
   "dependencies"                :
   {
      "question_group"           : "",
      "precedent_question"       : "",
      "after_question"  	      : ""
   },
   "session_entry"               : "YourDetails",
   "post_elements"               : "electricity_user",
   "id"									: "div_electricity_user",
   "orderInputs"                 : "1,2,3",
   "text"                        : " ",
   "template"                    : "question.tmpl",
   "input"								:
   {
      "1"                        :
      {
         "index"                 : "1",
         "template"              : "label.input.tmpl",
         "show"                  : "Y",
         "id"                    : "",
         "name"                  : "",
         "type"                  : "label",
         "default"               : "",
         "maxlength"             : "",
         "size"  	               : "",
         "value"                 : "Are you a"
      },                       
 		"2"                        :
      {
         "index"                 : "2",
         "template"              : "select.input.tmpl",
         "add_to_step_elements"  : "Y",
         "show"                  : "Y",
         "id"                    : "",
         "name"                  : "electricity_user",
         "type"                  : "select",
         "default"               : "",
         "maxlength"             : "",
         "size"  	               : "",
         "value"                 : 
         {
         	"1"                  :
            {
               "value"           : "",
               "dispalyed_value" : "- Please Select -"
            },
            "2"                  :
            {
               "value"           : "High",
               "dispalyed_value" : "High"
            },
            "3"                  :
            {
               "value"           : "Medium",
               "dispalyed_value" : "Medium"
            },
            "4"                  :
            {
               "value"           : "Low",
               "dispalyed_value" : "Low"
            }
         }
      },
      "3"                        :
      {
         "index"                 : "3",
         "template"              : "label.input.tmpl",
         "show"                  : "Y",
         "id"                    : "",
         "name"                  : "",
         "type"                  : "label",
         "default"               : "",
         "maxlength"             : "",
         "size"  	               : "",
         "value"                 : "electricity user?"
      }      
   },
   "process_data_function_name"  : "setGasConsumption($prepArray,$session)",
   "process_data_function"		   : "
                                    if($prepArray['electricity_user'] == 'Low') 
                                       $tmpPrepArray['electricity_consumption'] = 1650;
                                    if($prepArray['electricity_user'] == 'Medium') 
                                       $tmpPrepArray['electricity_consumption'] = 3300;
                                    if($prepArray['electricity_user'] == 'High') 
                                       $tmpPrepArray['electricity_consumption'] = 4950;
                                    return $tmpPrepArray;
                                   ",
   "validation_errors"           : "[% electricity_user.error %][% electricity_user.extraError %]",
   "help_icon_template"          : "help.anchor.tmpl",
   "help_value"                  : "QUESTION_MARK",
   "help_title"                  : "ENERGY_CONSUMPTION_TITLE",
   "help_description"            : "ENERGY_CONSUMPTION_DESCRIPTION",
   "help_example"                : "ENERGY_CONSUMPTION_EXAMPLE",
   "help_box_position"           : "blcl"
}
