{
   "class"          : "tblCntNoBrd",
   "extra_class"    : "",

   "children"       :
   {
   	"class"       : "floatLeft",
      "index"       :
      {
         "class"    : "qstIndex",
         "width"    : "20"
      },
      "text"        :
      {
         "class"    : "qstTitle",
         "width"    : "0"
      },
      "input"       :
      {
         "class"    : "qstVls",
         "width"    : "",
         "input"    :
         {
            "1"     :
            {
               "index"               : "1",
               "container_div_class" : "rdlbl floatLeft",
               "class"               : ""
            },
            "2"     :
            {
               "index"               : "2",
               "container_div_class" : "floatLeft",
               "class"               : "slct floatLeft",
               "width"               : "200"
            },
            "3"     :
            {
               "index"               : "3",
               "container_div_class" : "rdlbl floatLeft",
               "class"               : ""
            }
         }
      },
      "help"        :
      {
         "class"    : "displayNone",
         "width"    : "20"
      }
   }
}
