{
   "validation"       :
   {
      "1"             :
      {
         "index"      : "1",
         "validation" :
         {
            "active"  : "1",
            "rule"    : ".*",
            "error"   : "INVALID_ELECTRICITY_USER"
         }
      }
   },
   "extra_validation" :
   {
      "active"  			     : "1",
      "rule"    			     : "_default_extra_validation_electricity_user($prepArray,$session);",
      "function_description" : "validate electricity_user",
      "function"              : "$haveError = false;
                                
                                $user = $prepArray['electricity_user'];
                                $energy = $prepArray['type_of_energy'];
                                
                                if($energy == 'EG' || $energy == 'GO')
				                       if($user == '' && $prepArray['energy_consumption_know'] == 'N')
				                       {
				                          $tmpPrepArray['electricity_user.extraError'] = 'INVALID_ELECTRICITY_USER';
				                          $tmpPrepArray['electricity_user.error_b']    = HTML_BORDER_ERROR;
				                          $tmpPrepArray['electricity_user.error_bg']   = HTML_BACKGROUND_ERROR;
				                          $haveError = true;
				                       }

                                $tmpPrepArray['have_error'] = $haveError;
   								     return $tmpPrepArray;"
   }
}
