{
   "show"                        : "Y",
   "skip"                        : "N",
   "js_file"                     : "",
   "dependencies"                :
   {
      "question_group"           : "",
      "precedent_question"       : "",
      "after_question"  	      : ""
   },
   "session_entry"               : "YourCover",
   "post_elements"               : "end_date,end_date_dd,end_date_mm,end_date_yyyy",
   "id"                          : "end_date_container_div",
   "name"                        : "",
   "orderInputs"                 : "1,2,3,4,5,6",
   "text"                        : "END_DATE_TEXT",
   "template"                    : "question.tmpl",
   "input"                       : 
   {
      "1"                        :
      {
         "index"                 : "1",
         "template"              : "select.input.tmpl",
         "show"                  : "Y",
         "id"                    : "",
         "name"                  : "end_date_dd",
         "type"                  : "select",
         "default"               : "",
         "maxlength"             : "",
         "size"                  : "",
         "value"                 : "setEndDayValue($session,$prepArray);",
         "function_description"  : "",
         "function"				   : "$valuesObj=new stdClass;

                                    $index = 0;

                                    $valuesObj->$index->value = '';
       								      $valuesObj->$index->dispalyed_value = 'Day';

                                    for($i=1;$i<=31;$i++)
                                    {
                                       $index++;

                                       if ($i<10)
                                          $i = '0'.$i;

                                       $valuesObj->$index->value           = $i;
         								      $valuesObj->$index->dispalyed_value = $i;
         							      }

                                    $tmpPrepArray['select_options'] = $valuesObj;

                                    if(empty($session['YourCover']['end_date_dd']) AND empty($prepArray['end_date_dd']))
                                    {
                                       $timeStampTom = mktime()+86400+28*86400;

                                       $defaultDay     = date('d', $timeStampTom);

                                       if(strlen($defaultDay) == 1)
                                          $defaultDay = '0'.$defaultDay;

                                       $tmpPrepArray['default_value'] = $defaultDay;
                                    }

         							      return $tmpPrepArray;"
      },
      "2"                        :
      {
         "index"                 : "2",
         "template"              : "label.input.tmpl",
         "show"                  : "Y",
         "id"                    : "",
         "name"                  : "",
         "type"                  : "label",
         "default"               : "",
         "maxlength"             : "",
         "size"                  : "",
         "value"                 : "LABEL_SLASH"
      },
      "3"                        :
      {
         "index"                 : "3",
         "template"              : "select.input.tmpl",
         "show"                  : "Y",
         "id"                    : "",
         "name"                  : "end_date_mm",
         "type"                  : "select",
         "default"               : "",
         "maxlength"             : "",
         "size"                  : "",
         "value"                 : "setEndMonthValue($session,$prepArray);",
         "function_description"  : "",
         "function"				   : "$valuesObj=new stdClass;
                                    $index = 1;

                                    $valuesObj->$index->value           = '';
       								      $valuesObj->$index->dispalyed_value = 'Month';

                                    $monthNames['01'] = 'January';
                                    $monthNames['02'] = 'February';
                                    $monthNames['03'] = 'March';
                                    $monthNames['04'] = 'April';
                                    $monthNames['05'] = 'May';
                                    $monthNames['06'] = 'June';
                                    $monthNames['07'] = 'July';
                                    $monthNames['08'] = 'August';
                                    $monthNames['09'] = 'September';
                                    $monthNames['10'] = 'October';
                                    $monthNames['11'] = 'November';
                                    $monthNames['12'] = 'December';

         							      for($i=1;$i<=12;$i++)
         							      {
                                       $index++;

                                       if(strlen($i)==1)
                                          $i = '0'.$i;

                                       $valuesObj->$index->value           = $i;
         								      $valuesObj->$index->dispalyed_value = $monthNames[$i];
         							      }

         							      $tmpPrepArray['select_options'] = $valuesObj;

                                    if(empty($session['YourCover']['end_date_mm']) AND empty($prepArray['end_date_mm']))
                                    {
                                       $timeStampTom = mktime()+86400+28*86400;
                                       $tmpPrepArray['default_value'] = date('m', $timeStampTom);
                                    }

         							      return $tmpPrepArray;"
      },
      "4"                        :
      {
         "index"                 : "4",
         "template"              : "label.input.tmpl",
         "show"                  : "Y",
         "id"                    : "",
         "name"                  : "",
         "type"                  : "label",
         "default"               : "",
         "maxlength"             : "",
         "size"                  : "",
         "value"                 : "LABEL_SLASH"
      },
      "5"                        :
      {
         "index"                 : "5",
         "template"              : "select.input.tmpl",
         "show"                  : "Y",
         "id"                    : "",
         "name"                  : "end_date_yyyy",
         "type"                  : "select",
         "default"               : "",
         "maxlength"             : "",
         "size"                  : "",
         "value"                 : "setEndYearValue($session,$prepArray);",
         "function_description"  : "",
         "function"				   : "$valuesObj=new stdClass;
                                    $index = 1;
                                    $curYear  = date('Y');
                                    $lastYear = date('Y') + 5;

                                    $valuesObj->$index->value = '';
       								      $valuesObj->$index->dispalyed_value = 'Year';

         							      for($i=$curYear;$i<=$lastYear;$i++)
         							      {
                                       $index++;
                                       $valuesObj->$index->value = $i;
         								      $valuesObj->$index->dispalyed_value = $i;
         							      }
         							      $tmpPrepArray['select_options'] = $valuesObj;

                                    if(empty($session['YourCover']['end_date_yyyy']) AND empty($prepArray['end_date_yyyy']))
                                    {
                                       $timeStampTom = mktime()+86400+28*86400;                                          
                                       $tmpPrepArray['default_value'] = date('Y', $timeStampTom);
                                    }

         							      return $tmpPrepArray;"
      },
      "6"                        :
      {
         "index"                 : "6",
         "template"              : "hidden.input.tmpl",
         "show"                  : "Y",
         "id"                    : "",
         "name"                  : "end_date",
         "type"                  : "hidden",
         "default"               : "",
         "maxlength"             : "",
         "size"  	               : "",
         "value"                 : ""
      }
   },
   "process_data_function_name"  : "setEndDateValue($prepArray)",
   "process_data_function"		   : "
                                    if($prepArray['type_of_policy'] == 'MT')
                                    {
                                       $endTimeStamp = mktime(0,0,0,$prepArray['start_date_mm'],$prepArray['start_date_dd']-1, $prepArray['start_date_yyyy']+1);

                                       $tmpPrepArray['end_date_dd']   = date('d', $endTimeStamp);
                                       $tmpPrepArray['end_date_mm']   = date('m', $endTimeStamp);
                                       $tmpPrepArray['end_date_yyyy'] = date('Y', $endTimeStamp);                                       
                                       
                                       $tmpPrepArray['end_date'] = $tmpPrepArray['end_date_dd'].'/'.$tmpPrepArray['end_date_mm'].'/'.$tmpPrepArray['end_date_yyyy'];
                                    }
                                    else
                                       $tmpPrepArray['end_date'] = $prepArray['end_date_dd'].'/'.$prepArray['end_date_mm'].'/'.$prepArray['end_date_yyyy'];

                                    return $tmpPrepArray;",
   "validation_errors"           : "[% end_date_dd.error %][% end_date_mm.error %][% end_date_yyyy.error %][% end_date.extraError %]",
   "help_icon_template"          : "help.anchor.tmpl",
   "help_value"                  : "QUESTION_MARK",
   "help_title"                  : "END_DATE_TITLE",
   "help_description"            : "END_DATE_DESCRIPTION",
   "help_example"                : "END_DATE_EXAMPLE",
   "help_box_position"           : "blcl"
}
