{
   "class"          : "tblCntBottomBrd",
   "extra_class"    : "",
   "children"       :
   {
      "index"       :
      {
         "class"    : "qstIndex",
         "width"    : "20"
      },
      "text"        :
      {
         "class"    : "qstTitle",
         "width"    : "330"
      },
      "input"       :
      {
         "class"    : "qstVls",
         "width"    : "300",
         "input"    :
         {
            "1"     :
            {
               "index"               : "1",
               "container_div_class" : "floatLeft",
               "class"               : "slct",
               "width"               : "60"
            },
            "2"     :
            {
               "index"               : "2",
               "container_div_class" : "floatLeft",
               "class"               : "lbl"
            },
            "3"     :
            {
               "index"               : "3",
               "container_div_class" : "floatLeft",
               "class"               : "slct",
               "width"               : "100"
            },
            "4"     :
            {
               "index"               : "4",
               "container_div_class" : "floatLeft",
               "class"               : "lbl"
            },
            "5"     :
            {
               "index"               : "5",
               "container_div_class" : "floatLeft",
               "class"               : "slct",
               "width"               : "70"
            }
         }
      },
      "help"        :
      {
         "class"    : "qstHlp",
         "width"    : "20"
      }
   }
}