{
   "validation"       :
   {
      "1"             :
      {
         "index"      : "1",
         "validation" :
         {
            "active"  : "1",
            "rule"    : "((0[1-9])|((1|2)\\d)|(30|31))",
            "error"   : "INVALID_END_DATE_DAY"
         }
      },
      "2"             :
      {
         "index"      : "3",
         "validation" :
         {
            "active"  : "1",
            "rule"    : "((0[1-9])|(1[0-2]))",
            "error"   : "INVALID_END_DATE_MONTH"
         }
      },
      "3"             :
      {
         "index"      : "5",
         "validation" :
         {
            "active"  : "1",
            "rule"    : "((19\\d{2})|(20\\d{2}))",
            "error"   : "INVALID_END_DATE_YEAR"
         }
      }
   },
   "extra_validation" :
   {
      "active"  			     : "1",
      "rule"    			     : "_default_extra_validation_end_date($prepArray);",
      "function_description" : "validate end date",
      "function"			     : " $haveError = false;

                                 $endDay   = $prepArray['end_date_dd'];
                                 $endMonth = $prepArray['end_date_mm'];
                                 $endYear  = $prepArray['end_date_yyyy'];

                                 if(empty($prepArray['end_date_dd.error']) && empty($prepArray['end_date_mm.error']) && empty($prepArray['end_date_yyyy.error']))
                                 {
                                    if(! checkdate($endMonth,$endDay,$endYear))
                                    {
                                       $tmpPrepArray['end_date.extraError'] = 'INVALID_DAYS_OF_MONTH';
                                       $tmpPrepArray['end_date.error_b']    = HTML_BORDER_ERROR;
                                       $tmpPrepArray['end_date.error_bg']   = HTML_BACKGROUND_ERROR;
                                       $haveError = true;
                                    }
                                 }

                                 $curMonth = date('m');
                                 $curDay   = date('d');
                                 $curYear  = date('Y');

                                 $yearDiff  = $endYear  - $curYear;
                                 $monthDiff = $endMonth - $curMonth;
                                 $dayDiff   = $endDay   - $curDay;

                                 if(($monthDiff < 0) || ($monthDiff == 0 && $dayDiff < 0))
                                    $yearDiff--;

                                 if($yearDiff < 0)
                                 {
                                    if(empty($prepArray['end_date_dd.error']) && empty($prepArray['end_date_mm.error']) && empty($prepArray['end_date_yyyy.error']))
                                    {
                                       $tmpPrepArray['end_date.extraError'] = 'INVALID_INSURANCE_CANNOT_START_IN_THE_PAST';
                                       $tmpPrepArray['end_date.error_b']    = HTML_BORDER_ERROR;
                                       $tmpPrepArray['end_date.error_bg']   = HTML_BACKGROUND_ERROR;
                                       $haveError = true;
                                    }
                                 }

                                 $startDay   = $prepArray['start_date_dd'];
                                 $startMonth = $prepArray['start_date_mm'];
                                 $startYear  = $prepArray['start_date_yyyy'];

                                 $yearDiff  = $endYear  - $startYear;
                                 $monthDiff = $endMonth - $startMonth;
                                 $dayDiff   = $endDay   - $startDay;

                                 if(($monthDiff < 0) || ($monthDiff == 0 && $dayDiff < 0))
                                    $yearDiff--;

                                 if($yearDiff < 0)
                                 {
                                    if(empty($prepArray['end_date_dd.error']) && empty($prepArray['end_date_mm.error']) && empty($prepArray['end_date_yyyy.error']))
                                    {
                                       $tmpPrepArray['end_date.extraError'] = 'INVALID_INSURANCE_END_DATE';
                                       $tmpPrepArray['end_date.error_b']    = HTML_BORDER_ERROR;
                                       $tmpPrepArray['end_date.error_bg']   = HTML_BACKGROUND_ERROR;
                                       $haveError = true;
                                    }
                                 }
                                 

                                 $tmpPrepArray['have_error'] = $haveError;
                                 return $tmpPrepArray;"
   }
}
